# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javaproject\foodie-dev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
